@model IEnumerable<WebApplication.Models.WarehouseRecordModel>

@{
    ViewData["Title"] = "Расчет позиций на складе";
}

<h1>Расчет позиций на складе</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificationModel.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Quantity) @Html.DisplayFor(modelItem => item.SpecificationModel.MeasureUnit)
            </td>
        </tr>
}
    </tbody>
</table>
