@model WebApplication.Models.WarehouseRecordModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WarehouseRecordModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeasureUnit)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificationModel.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
